<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task Title</th>
      <th scope="col">Member</th>
      <th scope="col">Deadline</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks; let i = index;" (click)="onSelect(task)">
      <th scope="row">{{ task.id }}</th>
      <td>{{ task.title }}</td>
      <td>{{task.member}}</td>
      <td>{{task.deadline}}</td>
    </tr>
  </tbody>
</table>

<app-detailtask [selectedTask]="selectedTask"></app-detailtask>