<h3>Departments</h3>

<div class="row form-inline justify-content-between">
  <input [(ngModel)]="searchText" class="form-control col-3" placeholder="Search Department">
  <button class="btn btn-success col-3" (click)="open(modalcreate)">
    <i class="fa fa-plus"></i> <b> Create Department </b>
  </button>  
</div>
<ng-template #modalcreate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Department</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="title">Name</label>
        <div class="input-group">
          <input class="form-control" placeholder="Name" #newName>
        </div>
      </div>
      <div class="form-group">
        <label for="title">Building</label>
        <div class="input-group">
          <input class="form-control" placeholder="Name" #newBuilding>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="add(newName.value, newBuilding.value);newName.value='';newBuilding.value=''">Create</button>
  </div>
</ng-template>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Building</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let department of departments | filter : searchText; let i = index" (click)="onSelect(department)">
      <th scope="row">{{ department.id }}</th>
      <td>{{ department.name }}</td>
      <td>{{ department.building }}</td>
      <td>
        <a  routerLink="/department/{{department.id}}"><button class="btn btn-sm btn-primary"><i class="fa fa-eye"></i></button></a>
        <button class="btn btn-sm btn-danger" (click)="deleteDepartment(department.id)"><i class="fa fa-trash"></i></button> 
      </td>
    </tr>
  </tbody>
</table>
