<div class="row justify-content-center">
  <div class="col-8">
    <h3 class="row justify-content-between">
      Department {{ selectedDepartment.id }}
      <div class="col-3">
        <button class="btn btn-sm btn-success col-4" (click)="goBack()">
          <i class="fa fa-arrow-left"></i>
        </button>
        <button class="btn btn-sm btn-danger col-4" (click)="deleteDepartment()">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </h3>
    <div class="row">
      <div class="col-6">
        <form>
      <div class="form-group">
        <label for="title">ID</label>
        <div class="input-group">
          {{ selectedDepartment.id }}
        </div>
      </div>
      <div class="form-group">
        <label for="title">Name</label>
        <div class="input-group">
          {{ selectedDepartment.name }}
        </div>
      </div>
      <div class="form-group">
        <label for="title">Building</label>
        <div class="input-group">
          {{ selectedDepartment.building }}
        </div>
      </div>
      <div class="form-group">
        <label for="title">City</label>
        <div class="input-group">
          {{ selectedDepartment.city }}
        </div>
      </div>
     
    </form>
         
      </div>
      <div class="col-6">
         <div class="form-group">
        <label for="title">Employees</label>
        <div class="input-group" *ngFor="let name of names">
          {{ name }}
        </div>
      </div>
      </div>
    </div>
  </div>
</div>




<!-- <ng-template #modaledit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Department</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="title">ID</label>
        <div class="input-group">
          <input id="department-id" [(ngModel)]="selectedDepartment.id" class="form-control" placeholder="ID" name="department-id" >
        </div>
      </div>
      <div class="form-group">
        <label for="title">Name</label>
        <div class="input-group">
          <input id="project-title" [(ngModel)]="selectedDepartment.name" class="form-control" placeholder="Name" name="department-title" >
        </div>
      </div>
      <div class="form-group">
        <label for="title">Building</label>
        <div class="input-group">
          <input id="department-building" [(ngModel)]="selectedDepartment.building" class="form-control" placeholder="Building" name="department-building" >
        </div>
      </div>
      <div class="form-group">
        <label for="title">City</label>
        <div class="input-group">
          <input id="department-city" [(ngModel)]="selectedDepartment.city" class="form-control" placeholder="City" name="department-city" >
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template> -->
