<div class="row justify-content-center">
  <div class="col-8">
    <h3 class="row justify-content-between">
      Department {{ selectedDepartment.id }}
      <div class="col-3">
        <button class="btn btn-sm btn-success col-4" (click)="goBack()">
          <i class="fa fa-arrow-left"></i>
        </button>
        <button class="btn btn-sm btn-danger col-4" (click)="deleteDepartment()">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </h3>
    <div class="row">
      <div class="col-6">
      <div class="form-group">
        <label for="title">Name</label>
        <div class="input-group">
          <input [(ngModel)]="selectedDepartment.name" class="form-control" placeholder="Name">
        </div>
      </div>
      <div class="form-group">
        <label for="title">Building</label>
        <div class="input-group">
          <input [(ngModel)]="selectedDepartment.building" class="form-control" placeholder="Building">
        </div>
      </div>
         
      </div>
      <div class="col-6">
         <div class="form-group">
        <label for="title">Employees</label>
        <div class="input-group" *ngFor="let name of selectedDepartment.employees">
          {{ name }}
        </div>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
      <button class="btn btn-sm btn-primary" (click)="save()">
        Update
      </button>
      </div>
    </div>
  </div>
</div>