<div class="row justify-content-center">
  <div class="col-8">
    <h3 class="row justify-content-between">
      Employee {{ selectedEmployee.id }}
      <div class="col-3">
        <button class="btn btn-sm btn-success col-4" (click)="goBack()">
          <i class="fa fa-arrow-left"></i>
        </button>
        <button class="btn btn-sm btn-danger col-4" (click)="deleteEmployee()">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </h3>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="title">First Name</label>
          <div class="input-group">
            <input [(ngModel)]="selectedEmployee.first_name" class="form-control" placeholder="First Name">
          </div>
        </div>
        <div class="form-group">
          <label for="title">Last Name</label>
          <div class="input-group">
            <input [(ngModel)]="selectedEmployee.last_name" class="form-control" placeholder="Last Name">
          </div>
        </div>
        <div class="form-group">
          <label for="title">Birth Date</label>
          <div class="input-group">
            <input [(ngModel)]="selectedEmployee.birth_date" class="form-control" placeholder="Birth Date">
          </div>
        </div>
        <div class="form-group">
          <label for="title">Department</label>
          <div class="input-group">
            <input [(ngModel)]="selectedEmployee.department_id" class="form-control" placeholder="Department">
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="title">Department</label>
          <div class="input-group">
            <!-- {{ getDepartmentNameById(selectedEmployee.depid) }} -->
          </div>
        </div>
        <!-- <div class="form-group">
          <label for="title">Employee's Projects</label>
          <div class="input-group" *ngFor="let title of projecttitles">
            {{ title }}
          </div>
        </div> -->
      </div>
    </div>
    <div class="row">
      <div class="col-2">
      <button class="btn btn-sm btn-primary" (click)="save()">
        Update
      </button>
      </div>
    </div>
  </div>
</div>













<!-- <ng-template #modaledit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Employee</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="title">Employee ID</label>
        <div class="input-group">
          <input id="employee-id" [(ngModel)]="selectedEmployee.id" class="form-control" placeholder="ID" name="Employee-id" >
        </div>
      </div>
      <div class="form-group">
        <label for="title">Name</label>
        <div class="input-group">
          <input id="employee-name" [(ngModel)]="selectedEmployee.name" class="form-control" placeholder="Name" name="Employee-name" >
        </div>
      </div>
      <div class="form-group">
        <label for="title">Email</label>
        <div class="input-group">
          <input id="employee-email" [(ngModel)]="selectedEmployee.email" class="form-control" placeholder="email" name="employee-email" >
        </div>
      </div>
      <div class="form-group">
        <label for="title">Phone</label>
        <div class="input-group">
          <input id="employee-phone" [(ngModel)]="selectedEmployee.phone" class="form-control" placeholder="phone" name="employee-phone" >
        </div>
      </div>
      <div class="form-group">
        <label for="title">Department</label>
        <div class="input-group">
          <input id="employee-dep" [(ngModel)]="selectedDepartment.name" class="form-control" placeholder="phone" name="employee-dep" >
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template> -->

<!-- <pre>{{closeResult}}</pre> -->