<div class="row justify-content-center">
  <div class="col-8">
    <h3 class="row justify-content-between">
      Task {{ selectedTask.id }}
      <div class="col-3">
        <button class="btn btn-sm btn-success col-4" (click)="goBack()">
          <i class="fa fa-arrow-left"></i>
        </button>
        <button class="btn btn-sm btn-danger col-4" (click)="deleteTask()">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </h3>
    <div class="row">
      <div class="col-6">
    <form>
      <div class="form-group">
        <label for="title">Task ID</label>
        <div class="input-group">
          {{ selectedTask.id }}
        </div>
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <div class="input-group">
          {{ selectedTask.title }}
        </div>
      </div>
      <div class="form-group">
        <label for="title">Deadline</label>
        <div class="input-group">
          {{ selectedTask.deadline }}
        </div>
      </div>
      <div class="form-group">
        <label for="title">Project</label>
        <div class="input-group">
          {{ selectedProject.title }}
        </div>
      </div>
    </form>
       
      </div>
    </div>
  </div>
</div>


<!-- <ng-template #modaledit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Task</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="title">Task ID</label>
        <div class="input-group">
          <input id="task-id" [(ngModel)]="selectedTask.id" class="form-control" placeholder="ID" name="task-id" >
        </div>
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <div class="input-group">
          <input id="task-title" [(ngModel)]="selectedTask.title" class="form-control" placeholder="Title" name="task-title" >
        </div>
      </div>
      <div class="form-group">
        <label for="title">Deadline</label>
        <div class="input-group">
          <input id="task-deadline" [(ngModel)]="selectedTask.deadline" class="form-control" placeholder="Deadline" name="task-deadline" >
        </div>
      </div>
      <div class="form-group">
        <label for="title">Project</label>
        <div class="input-group">
          <input id="task-proid" [(ngModel)]="selectedProject.title" class="form-control" placeholder="Proid" name="task-proid" >
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
 -->



