<div class="row justify-content-center">
  <div class="col-8">
    <h3 class="row justify-content-between">
      Task {{ selectedTask.id }}
      <div class="col-3">
        <button class="btn btn-sm btn-success col-4" (click)="goBack()">
          <i class="fa fa-arrow-left"></i>
        </button>
        <button class="btn btn-sm btn-danger col-4" (click)="deleteTask()">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </h3>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="title">Name</label>
          <div class="input-group">
            <input [(ngModel)]="selectedTask.name" class="form-control" placeholder="Name">
          </div>
        </div>
        <div class="form-group">
          <label for="title">Due Date</label>
          <div class="input-group">
            <input [(ngModel)]="selectedTask.due_date" class="form-control" placeholder="Due Date">
          </div>
        </div>
        <div class="form-group">
          <label for="title">Department</label>
          <div class="input-group">
            <input [(ngModel)]="selectedTask.department_id" class="form-control" placeholder="Department">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
      <button class="btn btn-sm btn-primary" (click)="save()">
        Update
      </button>
      </div>
    </div>
  </div>
</div>