<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">email</th>
      <th cope="col">phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees; let i = index" (click)="onSelect(employee)">
      <td scope="row">{{employee.id}}</td>
      <td>{{employee.name}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.phone}}</td>
    </tr>
  </tbody>
</table>

<app-detailemployee [selectedEmployee]="selectedEmployee"></app-detailemployee>
